{
  presets: [['es2015', { modules: false }], 'react'],
  plugins: [
    'transform-object-assign',
    'transform-es2015-destructuring',
    'transform-object-rest-spread',
    'transform-class-properties',
    'transform-exponentiation-operator',
  ],
  env: {
    test: {
      presets: ['es2015', 'react'],
      plugins: [
        'transform-object-assign',
        'transform-es2015-destructuring',
        'transform-object-rest-spread',
        'transform-class-properties',
        'transform-exponentiation-operator',
      ],
    },
    production: {
      plugins: [
        'transform-react-remove-prop-types',
        'transform-object-assign',
        'transform-es2015-destructuring',
        'transform-object-rest-spread',
        'transform-class-properties',
        'transform-exponentiation-operator',
      ]
    }
  }
}

