<div>
  <section class="panel panel-default">
    <div class="panel-heading">
      Collections

      <div class="pull-right hoverhand">
        <slidey-button data-config="addNewCollectionConfig"
                       data-click-event="addNewCollection()">
        </slidey-button>
      </div>
    </div>
    <div class="panel-body">
      <section class="panel row collection"
               data-ng-repeat="collection in collections track by $index"
               data-ng-init="updatedName = collection.name">
        <div class="panel-heading">
          <h4 class="panel-title">
            <span data-ng-show="$parent.editing === collection.name"
                  class="clearfix form-group form-group-sm">
              <span class="col-xs-10 row">
                <input class="form-control edit-collection-name"
                       data-ng-model="updatedName"
                       placeholder="Collection name"/>
              </span>
              <slidey-button class="update-collection pull-right"
                             data-config="collectionUpdateConfig"
                             data-click-event="updateCollectionName(collection, updatedName)">
              </slidey-button>
            </span>
            <span data-ng-hide="$parent.editing === collection.name">
              <span class="hoverhand"
                    data-ng-click="minimizeCollection(collection, $index)">
                {{collection.name}}
              </span>
              <slidey-button class="update-collection"
                             data-config="deleteCollectionConfig"
                             data-click-event="deleteCollection(collection)">
              </slidey-button>
              <slidey-button class="update-collection"
                             data-config="collectionOptionsConfig"
                             data-click-event="toggleCollectionsOptions(collection)">
              </slidey-button>
            </span>
          </h4>
          <hr></hr>
        </div>
        <div class="panel-body collection-body"
             dnd-list="collection.requests">
          <div data-ng-repeat="request in collection.requests track by $index"
               data-dnd-draggable="request"
               data-dnd-moved="collection.requests.splice($index, 1)"
               data-dnd-effect-allowed="move"
               data-dnd-selected="models.selected = request"
               data-ng-class="{'selected': models.selected === request}">

            <div class="list-group">
              <a href="#"
                 class="list-group-item"
                 data-ng-class="{active: request == selectedRequest}"
                 data-ng-click="selectRequest(request)">
                <h4 class="list-group-item-heading">
                  {{request.method}}
                <div class="pull-right"
                     id="removeRequest">
                  <slidey-button data-config="removeRequestConfig"
                                 data-click-event="removeFromCollection({collection: collections[0], index: $index})">
                  </slidey-button>
                </div>
                </h4>

                <p class="list-group-item-text">
                  {{request.url}}
                </p>
              </a>
            </div>
          </div>
        </div>
      </section>
      <div data-ng-show="collections.length === 0 || (collections.length === 1 &amp;&amp; collections[0].requests.length === 0)">
        <h5>
          No collected requests. Add by pressing "plus" in the top right of the request panel.
        </h5>
      </div>
    </div>
  </section>
</div>

