<div>
  <section class="panel panel-default">
    <div class="panel-heading">
      Collections

      <div class="pull-right">
        <div
          data-ng-click="resetRequest()"
           class="fa fa-plus">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div data-ng-repeat="request in collections[0].requests track by request.url">
        <div class="list-group">
          <a href="#"
             class="list-group-item"
             data-ng-class="{active: request == selectedRequest}"
             data-ng-click="selectRequest(request)">
            <h4 class="list-group-item-heading">
              {{request.method}}
            <div class="pull-right">
              <div
                data-ng-click="removeFromCollection(request)"
                 class="fa fa-times">
              </div>
            </div>
            </h4>

            <p class="list-group-item-text">
              {{request.url}}
            </p>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
