<div>
  <section class="panel panel-default left-panel hidden-xs">
    <nav class="panel-heading">
      <ul class="nav nav-pills">
          <li data-ng-click="setLeftPanel('collections')"
              data-ng-class="{'active': !$root.options.activeTab || $root.options.activeTab === 'collections'}">
            Collections
          </li>
          <li data-ng-click="setLeftPanel('history')"
              data-ng-class="{'active': $root.options.activeTab === 'history'}">
            History
          </li>
      </ul>
    </nav>

    <collections data-ng-show="!$root.options.activeTab || $root.options.activeTab === 'collections'"
                 data-selected-request="request"
                 data-collections="collections">
    </collections>

    <history data-ng-show="$root.options.activeTab === 'history'"
             data-selected-request="request"
             data-history="history">
    </history>

  </section>
</div>
