<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close">
                <span aria-hidden="true">
                  <i class="fa fa-times"></i>
                </span>
        </button>
        <h4 class="modal-title">
          {{options.title}}
        </h4>
      </div>

      <div class="modal-body">
        <p data-ng-show="options.body">
          {{options.body}}
        </p>
        <div data-ng-include="options.includeURL">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button"
                class="btn btn-default"
                data-dismiss="modal">
                Close
        </button>
        <button type="button"
                class="btn btn-primary"
                data-ng-show="options.action"
                data-ng-click="options.action.click()">
                {{options.action.text}}
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
