<div>
  <section class="panel panel-default">
    <div class="panel-heading">
      Request

      <div class="pull-right hoverhand">
        <div data-ng-click="addRequest(request)"
             class="fa fa-plus"
             title="Add request to collection">
        </div>
      </div>
    </div>
    <div class="panel-body">
      <form data-ng-submit="sendRequest()"
            class="form-horizontal">

        <div class="form-group">
          <label for="url"
                 class="col-sm-2 control-label">
                 URL
          </label>
          <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   id="url"
                   placeholder="{{::getRandomURL()}}"
                   data-ng-model="request.url"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="method"
                 class="col-sm-2 control-label">
                 Method
          </label>

          <div class="col-sm-7">
            <select class="form-control"
                    id="method"
                    data-ng-model="request.method"
                    data-ng-options="method for method in options.methods">
            </select>
          </div>
          <div class="col-sm-3">
            <input type="submit"
                   class="btn btn-primary"
                   value="Send request"
            />
          </div>
        </div>

        <div class="hoverhand"
             data-ng-click="slideToggle('headerSlider')"
             title="Show headers">
          <h4>
            Headers
            <i class="fa fa-angle-right animate"
                data-ng-class="{'fa-rotate-90': !!slidden.headerSlider}">
            </i>
          </h4>
        </div>

        <div id="headerSlider" class="row start-hidden">
          <div class="header-item"
               data-ng-repeat="header in headers">
            <div class="form-group col-xs-6">
              <input type="text"
                     class="form-control"
                     data-ng-model="header.name"
                     placeholder="Name"
              />
            </div>
            <div class="form-group col-xs-6">
              <input type="text"
                     class="form-control"
                     data-ng-model="header.value"
                     placeholder="Value"
              />
            </div>
          </div>
          <h5 class="col-xs-12 hoverhand"
              data-ng-click="addHeader()"
              title="Add header">
            <i class="fa fa-plus"></i>
            Add header
          </h5>
        </div>

        <!-- POST, PUT, PATCH get data -->
        <div class="hoverhand"
             data-ng-click="slideToggle('bodySlider')"
             title="Show request body">
          <h4>
            Request body
            <i class="fa fa-angle-right animate"
                data-ng-class="{'fa-rotate-90': !!slidden.bodySlider}">
            </i>
          </h4>
        </div>

        <div id="bodySlider" class="row start-hidden">
          <div class="col-xs-12">
            <textarea class="form-control"
                      rows="10"
                      data-ng-model="request.data">
            </textarea>
          </div>
        </div>
      </form>
    </div>
  </section>

  <section data-ng-if="response" class="panel panel-default">
    <div class="panel-heading one-line-text">
      Response - {{response.config.url}}
    </div>
    <div class="panel-body">
      <h2 class="col-xs-12" data-ng-style="{color: (response.status | status)}">
        {{response.status}} <small>{{response.statusText}}</small>
      </h2>

      <content-slider class="col-xs-12"
                      title="Headers"
                      content="response.headers"
                      start-hidden="true">
      </content-slider>

      <content-slider class="col-xs-12"
                      title="Response body"
                      content="response.data">
      </content-slider>
    </div>
  </section>
</div>
