<div>
  <section class="panel panel-default">
    <div class="panel-heading">
      Request

      <div class="pull-right hoverhand">
        <slidey-button data-config="toggleCollectionsConfig"
                       data-click-event="toggleCollections()">
        </slidey-button>
        <slidey-button data-config="showVariablesConfig"
                       data-click-event="showVariablesModal()">
        </slidey-button>
        <slidey-button data-config="addRequestConfig"
                       data-click-event="addRequest(request)">
        </slidey-button>
      </div>
    </div>
    <div class="panel-body">
      <form data-ng-submit="sendRequest()"
            class="form-horizontal">

        <div class="form-group">
          <label for="url"
                 class="col-sm-2 control-label">
                 URL
          </label>
          <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   id="url"
                   placeholder="{{::getRandomURL()}}"
                   data-ng-model="request.url"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="method"
                 class="col-xs-12 col-sm-2 control-label">
                 Method
          </label>

          <div class="col-xs-8 col-sm-7">
            <select class="form-control"
                    id="method"
                    data-ng-model="request.method"
                    data-ng-options="method for method in options.methods">
            </select>
          </div>
          <div class="col-xs-4 col-sm-3">
            <input type="submit"
                   class="btn btn-primary text-ellipsis"
                   value="Send request"
            />
          </div>
        </div>

        <!-- Headers -->
        <div data-ng-include="'views/fragments/request/headerDropdown.html'"></div>

        <!-- Basic auth -->
        <div data-ng-include="'views/fragments/request/basicAuthDropdown.html'"></div>

        <!-- POST, PUT, PATCH request body -->
        <div data-ng-include="'views/fragments/request/requestBodyDropdown.html'"
             data-ng-show="['POST', 'PUT', 'PATCH'].indexOf(request.method) > -1">
        </div>
      </form>
    </div>
  </section>

  <!--data-ng-if="requestInProgress"-->
  <section data-ng-if="requestInProgress"
           id="spinnerPanel"
           class="panel panel-default text-center">
    <i class="fa fa-gear fa-spin spinner"></i>
  </section>

  <section data-ng-if="response && !requestInProgress"
           class="panel panel-default">
    <div class="panel-heading one-line-text">
      Response -
      <a class="text-muted"
         target="_blank"
         data-ng-href="{{response.responseURL}}">
         {{response.responseURL}}
      </a>
    </div>
    <div class="panel-body">
      <h2 class="col-xs-12" data-ng-style="{color: (response.status | status)}">
        {{response.status}} <small>{{response.statusText}}</small>
      </h2>

      <content-slider class="col-xs-12"
                      data-title="Headers"
                      data-content="response.headers"
                      data-start-hidden="true">
      </content-slider>

      <content-slider class="col-xs-12"
                      data-title="Response body"
                      data-content="response.formattedResponse">
      </content-slider>
    </div>
  </section>
</div>
