<div>
  <div class="header col-xs-12">
    <h1>
      <img class="logo"
           height="40"
           src="img/rested-logo.png"
      />
      RESTED
    </h1>
  </div>

  <collections class="col-xs-4"
               selected-request="request"
               collections="collections"
               remove-from-collection="removeRequestFromCollection(request)">
  </collections>
  <request class="col-xs-8"
           request="request"
           add-to-collection="addRequestToCollection(request)">
  </request>

  <modal data-options="modalOptions"></modal>
</div>
