<div>
  <div class="header col-xs-12">
    <h1>
      <img class="logo"
           height="40"
           src="img/rested-logo.png"
      />
      RESTED
    </h1>
  </div>

  <collections class="animate"
               data-ng-class="{'minimized': collectionsMinimized, 'col-xs-4': !collectionsMinimized}"
               selected-request="request"
               collections="collections"
               remove-from-collection="removeRequestFromCollection(request)">
  </collections>
  <request class="animate"
           data-ng-class="{'col-xs-12': collectionsMinimized, 'col-xs-8': !collectionsMinimized}"
           request="request"
           add-to-collection="addRequestToCollection(request)">
  </request>

  <modal data-options="modalOptions"></modal>
</div>
