<div class="hoverhand"
     data-ng-click="slideToggle('basicAuthSlider')"
     title="Show basic auth">
  <h4>
    Basic auth
    <i class="fa fa-angle-right animate"
        data-ng-class="{'fa-rotate-90': !!slidden.basicAuthSlider}">
    </i>
  </h4>
</div>

<div id="basicAuthSlider" class="row start-hidden">
    <div class="form-group col-xs-6">
      <input type="text"
             class="form-control"
             data-ng-model="request.basicAuth.username"
             placeholder="Username"
      />
    </div>
    <div class="form-group col-xs-6">
      <input type="text"
             class="form-control"
             data-ng-model="request.basicAuth.password"
             placeholder="Password"
      />
    </div>
</div>

