<div>
  <div class="hoverhand"
       data-ng-click="slideToggle('bodySlider')"
       title="Show request body">
    <h4>
      Request body
      <i class="fa fa-angle-right animate"
          data-ng-class="{'fa-rotate-90': !!slidden.bodySlider}">
      </i>
    </h4>
  </div>

  <div id="bodySlider" class="row start-hidden">
    <div class="col-xs-12 checkbox">
      <label>
        <input type="checkbox"
               data-ng-model="request.useFormData"
               data-ng-change="toggleFormData(request)"
        />
        Use form data
      </label>
    </div>
    <div class="header-item"
         data-ng-if="request.useFormData"
         data-ng-repeat="body in request.formData track by $index">
      <div class="form-group col-xs-5">
        <input type="text"
               class="form-control"
               data-ng-model="body.name"
               placeholder="Parameter"
        />
      </div>
      <div class="form-group col-xs-6">
        <input type="text"
               class="form-control"
               data-ng-model="body.value"
               placeholder="Value"
        />
      </div>
      <div class="col-xs-1 hidden-xs">
        <i class="fa fa-trash hoverhand remove-header"
           data-ng-click="request.formData.splice($index, 1)"
           title="Remove Parameter">
        </i>
      </div>
    </div>
    <h5 class="col-xs-12 hoverhand"
        data-ng-click="addParameter(request)"
        title="Add parameter">
      <i class="fa fa-plus"></i>
      Add parameter
    </h5>
    <div class="col-xs-12" data-ng-if="!request.useFormData">
      <textarea class="form-control"
                rows="10"
                data-ng-model="request.data">
      </textarea>
    </div>
  </div>
</div>

