<!DOCTYPE html>
<html lang="en" id="app" data-ng-controller="RootCtl">
<head>
  <title>RESTED Client</title>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <link rel="stylesheet" data-ng-if="$root.options.theme === 'retro'" data-ng-href="ext/bootstrap.min.css">
  <link rel="stylesheet" data-ng-if="$root.options.theme !== 'retro'" data-ng-href="ext/bootswatch/{{$root.options.theme || 'yeti'}}.min.css">
  <link rel="stylesheet" type="text/css" href="ext/font-awesome-4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="css/common.css">
  <link rel="stylesheet" type="text/css" href="css/spesific.css">
  <link rel="stylesheet" data-ng-if="$root.options.disableHighlighting !== true" data-ng-href="ext/highlight.js/styles/{{$root.options.highlightStyle || 'default'}}.css">
  <link rel="icon" type="image/png" sizes="128x128" href="img/favicon/favicon-128x128.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="img/favicon/favicon-64x64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <main class="container-fluid" data-ng-cloak="">
    <div data-ng-include="'views/main.html'"></div>
  </main>

  <!-- Libraries -->
  <script type="text/javascript" src="ext/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="ext/angular.min.js"></script>
  <script type="text/javascript" src="ext/bootstrap.min.js"></script>
  <script type="text/javascript" src="ext/angular-drag-and-drop-lists.js"></script>
  <script type="text/javascript" src="ext/highlight.js/highlight.pack.js"></script>


  <!-- Bootstrapping -->
  <script type="text/javascript" src="js/app.js"></script>

  <!-- Constants -->
  <script type="text/javascript" src="js/constants/constants.js"></script>

  <!-- Filters -->
  <script type="text/javascript" src="js/filters/statusColor.js"></script>
  <script type="text/javascript" src="js/filters/uuidAssign.js"></script>
  <script type="text/javascript" src="js/filters/setOrder.js"></script>

  <!-- Directives -->
  <script type="text/javascript" src="js/directives/contentSlider.js"></script>
  <script type="text/javascript" src="js/directives/request.js"></script>
  <script type="text/javascript" src="js/directives/collections.js"></script>
  <script type="text/javascript" src="js/directives/modal.js"></script>
  <script type="text/javascript" src="js/directives/slideyButton.js"></script>

  <!-- Services -->
  <script type="text/javascript" src="js/services/db.js"></script>
  <script type="text/javascript" src="js/services/base64.js"></script>
  <script type="text/javascript" src="js/services/request.js"></script>
  <script type="text/javascript" src="js/services/requestUtils.js"></script>
  <script type="text/javascript" src="js/services/modal.js"></script>
  <script type="text/javascript" src="js/services/import.js"></script>
  <script type="text/javascript" src="js/services/collection.js"></script>
  <script type="text/javascript" src="js/services/urlVariables.js"></script>
  <script type="text/javascript" src="js/services/highlight.js"></script>

  <!-- Controllers -->
  <script type="text/javascript" src="js/controllers/root.js"></script>
  <script type="text/javascript" src="js/controllers/options.js"></script>
</body>
</html>
