/* This CSS holds reusable styling rules */

.hoverhand {
  cursor: pointer;
}

.start-hidden {
  display: none;
}

.one-line-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.transparent {
  opacity: 0;
}

.opaque {
  opacity: 1;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.animate {
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
}

.spinner {
  font-size: 3em;
  opacity: 0.9;
}

.panel-toolbar {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #F5F5F5;
}
