/* This CSS file holds spesific non-reusable styling */

.fa-angle-right {
  margin-left: 5px;
}

.header {
  margin-bottom: 30px;
}

.header .logo {
  margin-top: -7px;
}

#headerSlider {
  margin-top: 30px;
}

#headerSlider .header-item>div.form-group {
  margin-right: 0px;
  margin-left: 0px;
}
