/* This CSS file holds spesific non-reusable styling */

body {
  overflow-x: hidden;
}

.fa-angle-right {
  margin-left: 5px;
}

.header {
  margin-top: 20px;
  margin-bottom: 30px;
}

.header .logo {
  margin-top: -7px;
}

/* TODO: Figure out logo on black themes */
.header>h1 {
  color: #222222;
}

#headerSlider {
  margin-top: 30px;
}

#headerSlider .header-item>div.form-group,
#basicAuthSlider>div.form-group {
  margin-right: 0px;
  margin-left: 0px;
}

#removeRequest .slidey-text {
  font-size: 14px;
}

#spinnerPanel {
  padding: 40px 0 40px;
}

/* Rules for allowing sliding ins slidey-button */
slidey-button {
  float: right;
}

.slidey-box {
  overflow: hidden;
  white-space: nowrap;

  margin-left: 10px;
}

.slidey-wrapper {
  overflow: hidden;
  display: inline-block;
  opacity: 0;
  width: 0px;
}

.slidey-text {
  position: relative;
}

.slidey-box>.fa {
  position: relative;
  bottom: 5px;
}
/* End slidey rules */

/* Lets us float text in the header */
.panel-heading {
  min-height: 40px;
}

.minimized {
  float: left;
  opacity: 0;
  width: 0px;

  /* Makes the animation look a bit more sane */
  white-space: nowrap;
}
.remove-header {
  margin-top: 10px;
}

.list-group-item-text {
  word-break: break-all;
}

.import-type-buttons {
  margin-top: 15px;
}

.import-textarea {
  margin-top: 15px;
  resize: vertical;
}
