<div class="col-xs-12">
  <p>
    Here you can import data from other sources.
    Two formats are currently supported, HTTP Archive
    (HAR) and Postman json.
  </p>
  <p>
    HAR is a format that can be exported directly
    from your favourite browser's network tools.
    This means you can do a request you would like
    to recreate or alter at a later date, and import
    it to your collected requests. See
    <a href="https://developer.mozilla.org/en-US/docs/Tools/Network_Monitor#CopySave_All_As_HAR" target="_blank">
    this link</a> for details.
  </p>
  <section>
    <div class="col-xs-12 text-center import-type-buttons">
      <div class="btn-group btn-group-sm row">
        <button class="btn btn-default"
                data-ng-class="{active: $parent.importMethod === 'HAR'}"
                data-ng-click="$parent.importMethod = 'HAR'">
          HAR
        </button>
        <button class="btn btn-default"
                data-ng-class="{active: $parent.importMethod === 'Postman'}"
                data-ng-click="$parent.importMethod = 'Postman'">
          Postman
        </button>
      </div>
      <h4 data-ng-bind="$parent.importFeedback"
          class="text-danger">
      </h4>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <textarea class="form-control import-textarea"
                  data-ng-model="$parent.importText"
                  rows="20">
        </textarea>
      </div>
    </div>
  </section>
</div>

