<div class="col-xs-12">
  <table class="table table-striped">
    <tbody>
    <tr>
      <td>
        Theme
      </td>
      <td>
        <div class="form-group">
          <select class="form-control"
            data-ng-model="$root.options.theme"
            data-ng-change="$root.setTheme($root.options.theme)"
            data-ng-options="theme for theme in $root.themes">
          </select>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h5 class="hoverhand"
          data-ng-click="$root.newVariable()">
          <i class="fa fa-plus"></i>
          Add a variable
        </h5>
      </td>
    </tr>
    </tbody>
  </table>
</div>


