<div class="row">
  <div class="col-xs-12">
    <table class="table table-striped">
      <tbody>
        <tr>
          <td>
            <div class="form-group">
              <label>
                Collection
              </label>
              <select class="form-control"
                data-ng-model="$root.selectedCollectionIndex"
                data-ng-options="collection.name for collection in $root.collections track by $index">
              </select>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

